<div>
  App Component

  <div class="container">
      <div class="todo">
        <div class="input-panel">
          <input type="text" placeholder="Todo">
          <button class="add-btn">Add</button>
        </div>
      </div>
      <table>
        <tr class="even">
          <td>
            <pre>
              Visit
            </pre>
          </td>
          <td>
            <button class="remove-btn">X</button>
            <button class="done-btn">Done</button>
          </td>
        </tr>
        <tr class="odd">
          <td>
            <pre>
              Call
            </pre>
          </td>
          <td>
            <button class="remove-btn">X</button>
            <button class="done-btn">Done</button>
          </td>
        </tr>
        <tr class="even">
          <td>
            <pre>
              Gym
            </pre>
          </td>
          <td>
            <button class="remove-btn">X</button>
            <button class="done-btn">Done</button>
          </td>
        </tr>
      </table>
  </div>
</div>